.main--home {
	max-width: 90vw;
	min-height: 100vh;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
  padding: $spacing-xl 0;
}

.logo-wordmark {
	width: 90%;
	max-width: 480px;
	margin-bottom: $spacing-lg;
	filter: drop-shadow(0 0 8px currentColor);
}

.tagline {
	width: 60%;
	max-width: 350px;
}

.desc {
	@include ul-null;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
  margin: $spacing-xl 0 0;
  // padding: $spacing-md 0 $spacing-md $spacing-xs;
  // border-top: 8px solid;
  // border-bottom: 1px solid;

  @include mq($l) {
	  // padding: $spacing-lg 0 $spacing-lg $spacing-xs;
	  margin: $spacing-xxl 0;
  }
}

.desc-item {
	display: flex;
	align-items: center;
	margin-left: -#{$spacing-xs};
	padding: $spacing-xxs 0;

	&::after, &::before {
		content: "";
		width: $spacing-xs;
		height: .1em;
		background-color: $color-base;
	}

}

.desc-item__svg {
	height: $spacing-sm;
	width: auto;
	margin: 0 $spacing-md;
}


.coming-soon {
	width: 90%;
	max-width: 450px;
}

.instagram-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: $spacing-lg;

  @include mq($l) {
		margin-top: $spacing-xl;
  }
}

.instagram-link {
	width: 50%;
	max-width: 200px;
}

.inquiries {
	height: $spacing-sm;
	width: auto;
	margin: $spacing-md 0;
	display: none;
  
  @include mq($s) {
		display: block;
  }

  @include mq($l) {
	margin: $spacing-lg 0;
  }
}

.order-button {
	width: 400px;
	max-width: 70vw;
	margin: $spacing-xxl 0;
	transition: filter .2s linear;

	&:hover, &:focus {
		filter: drop-shadow(0 0 6px currentColor);
	}
}

.email {
	width: 400px;
	max-width: 70vw;
	transition: filter .2s linear;

	&:hover, &:focus {
		filter: drop-shadow(0 0 6px currentColor);
	}
}

.logo-icon {
	width: 30%;
	max-width: 70px;
	margin-top: $spacing-lg;
	filter: drop-shadow(0 0 3px currentColor);


  @include mq($l) {
		margin-top: $spacing-xxl;
  }
}