.main--home {
	max-width: 90vw;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
  padding: $spacing-xl 0;
}

.logo-wordmark {
	width: 90%;
	max-width: 480px;
	margin-bottom: $spacing-lg;
	filter: drop-shadow(0 0 8px currentColor);
}

.tagline {
	width: 60%;
	max-width: 350px;
}

.desc {
	@include ul-null;
	text-transform: uppercase;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
  margin: $spacing-xl 0;
  // padding: $spacing-md 0 $spacing-md $spacing-xs;
  // border-top: 8px solid;
  // border-bottom: 1px solid;

  @include mq($l) {
	  // padding: $spacing-lg 0 $spacing-lg $spacing-xs;
	  margin: $spacing-xxl 0;
  }
}

.desc-item {
	@include font-heading;
	font-size: $font-size-h6;
	letter-spacing: .25em;
	text-align: center;
	display: flex;
	align-items: center;
	margin-left: -#{$spacing-xs};
	padding: $spacing-xxs $spacing-xxs;

	&:first-child, &:last-child {
		&::after, &::before {
			content: "";
			width: $spacing-sm;
			height: .1em;
			background-color: $color-base;
			margin: 0 $spacing-sm;
		}
	}
}

.desc-item__svg {
	height: $spacing-sm;
	width: auto;
	margin: 0 $spacing-md;
}

.update {
	max-width: 40rem;

	p {
		font-size: 1.125rem;
	}

	strong {
		@include font-heading;
		text-transform: uppercase;
		font-size: 1.125em;
	}
}

.button-link {
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	font-size: $font-size-h4;
	border: 1px solid;
	padding: $spacing-sm $spacing-lg;
	border-radius: 2rem;
	position: relative;

  @include mq($l) {
		font-size: $font-size-h3;
  }

	&:before {
		content: '';
		position: absolute;
		border-radius: 2rem;
		z-index: -1;
		top: 3px;
		right: 3px;
		bottom: 3px;
		left: 3px;
		border: 1px solid;
	}


	&:hover, &:focus {
		text-decoration: none;
		filter: drop-shadow(0 0 6px currentColor);
	}
}

.instagram-container {
	margin: $spacing-xl 0;
}

.inquiries {
	height: $spacing-sm;
	margin: $spacing-md 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: $spacing-sm;

  @include mq($l) {
	margin: $spacing-lg 0;
  }
}

.inquiries__intro {
	@include font-heading;
	font-size: $font-size-h6;
	letter-spacing: .25em;
	text-transform: uppercase;
}

.inquiries__email {
	display: inline-block;
	text-transform: uppercase;
	font-size: $font-size-h3;
	text-align: center;

  @include mq($l) {
		font-size: $font-size-h2;
  }


	&:hover, &:focus {
		text-decoration: none;
		filter: drop-shadow(0 0 6px currentColor);
	}
}


.logo-icon {
	width: 30%;
	max-width: 70px;
	margin-top: $spacing-xxl;
	filter: drop-shadow(0 0 3px currentColor);


  @include mq($l) {
		margin-top: $spacing-xxl;
  }
}