.main--home {
	max-width: 90vw;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
  padding: $spacing-xl 0;
}

.logo-wordmark {
	width: 90%;
	max-width: 450px;
	margin-bottom: $spacing-lg;
}

.tagline {
	width: 60%;
	max-width: 350px;
}

.desc {
	@include ul-null;
	text-transform: uppercase;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: $spacing-sm;
  justify-content: center;
  align-items: center;
  margin: $spacing-xxl 0;
}

.desc-item {
	@include font-heading;
	font-size: 0.75rem;
	letter-spacing: .25em;
	text-align: center;
	display: flex;
	align-items: center;

  @include mq($m) {
		&::after, &::before {
			content: "";
			width: $spacing-sm;
			height: .1em;
			background-color: $color-base;
			margin: 0 $spacing-sm;
		}
  }
}

.body {
	max-width: 80rem;
	max-width: 60rem;
	text-wrap: pretty;
	margin: 0 0 $spacing-lg 0;
	display: flex;
	gap: $spacing-lg;
	flex-direction: column;

  @include mq($l) {
		flex-direction: row;
		gap: 4vw;
	}

	.subhead,
	strong {
		font-family: $font-family-monospace;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 1.3rem;
	}

	a {
		text-decoration: underline;
		text-underline-offset: .25em;
		text-decoration-thickness: 1px;
		text-decoration-style: dotted;
	}
}

.intro {
	flex: 2;

	p {
		font-family: $font-family-display;
		letter-spacing: -.1em;
	  @include mq($l) {
			font-size: 1.3rem;
		}
	}
}

.order-info {
	flex: 1;

	p,
	li {
		font-size: .95rem;
	}
}

.menu {
	width: 100%;
	max-width: 50rem;
  margin: $spacing-lg 0;
}

.menu-item {
	display: flex;
	gap: $spacing-lg;
	justify-content: space-between;
	border-top: 1px dotted;
	padding: $spacing-xs 0 $spacing-md;
  
  @include mq($m) {
		padding: $spacing-xs 0 $spacing-lg;
	}
}

.menu-item__name {
	@include font-heading;
	text-transform: uppercase;
	font-size: 1.1rem;
  @include mq(0, $m) {
		max-width: 50vw;
	}
}

.menu-item__price {
	text-align: right;
	display: flex;
	text-wrap: balance;
	flex-direction: column;
  @include mq(0, $m) {
		gap: $spacing-xxs;
	}

	span {
	}
}

.button-link {
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	font-size: $font-size-h4;
	font-weight: $font-weight-bold;
	border: 1px solid;
	padding: $spacing-sm $spacing-lg;
	border-radius: 2rem;
	position: relative;
	margin-bottom: $spacing-xl;
	@include animate-fast;

  @include mq($l) {
		font-size: $font-size-h3;
  }

	&:before {
		content: '';
		position: absolute;
		border-radius: 2rem;
		z-index: -1;
		top: 3px;
		right: 3px;
		bottom: 3px;
		left: 3px;
		border: 1px solid;
	}


	&:hover, &:focus {
		text-decoration: none;
		background-color: $color-base;
		color: $color-background;
		transform: scale(1);
	}
}

.instagram-container {
	padding: 0 0 $spacing-xl;
	a {
		text-decoration: underline;
		text-underline-offset: .25em;
		text-decoration-thickness: 1px;
		text-decoration-style: dotted;
	}
}

.inquiries {
	height: $spacing-sm;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: $spacing-lg;

  @include mq($l) {
		gap: $spacing-xl;
  }
}

.inquiries__intro {
	@include font-heading;
	font-size: $font-size-h6;
	letter-spacing: .25em;
	text-transform: uppercase;
}

.inquiries__email {
	display: inline-block;
	text-transform: uppercase;
	font-size: $font-size-h3;
	text-align: center;

  @include mq($l) {
		font-size: $font-size-h2;
  }


	&:hover, &:focus {
		text-decoration: none;
	}
}


.logo-icon {
	width: 30%;
	max-width: 70px;
	margin-top: $spacing-xxl;


  @include mq($l) {
		margin-top: $spacing-xl;
  }
}